@{
    ViewData["Title"] = "Home Page";
}

@model Vehicle

<div class="text-center">
    <h1 class="display-4">Oops you've gone to the wrong page</h1>
    <p>Click on Vehicle in the above menu to go back</p>
</div>
